html {
  background-color: #adbaff !important;
}

body {
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 5%;
  font-family: 'Orbitron', serif;
  font-size: 18px;
  line-height: 1.5;
}

p {
  text-align: center;
  margin-bottom: 3%;
  margin-top: 1%;
}

h1 {
  font-family: 'Orbitron', serif;
  font-size: 56px;
  text-align: center;
}

#input-email input {
  border: none;
  background-color: #f2f2f2;
  width: 94%;
  height: 70px;
  font-family: 'Orbitron', serif;
  font-size: 22px;
  padding-left: 3%;
  padding-right: 3%;
}

#input-email input:focus {
  outline: none;
}

#input-age-verification label {
  color: #949494;
  margin-top: -20px;
  margin-left: 30px;
}

#input-age-verification input[type="checkbox"] {
  position: relative;
  display: block;
  border-radius: 0;
  height: 20px;
  width: 20px;
}

#submit {
  background-color: #7652fa;
  margin-top: 3%;
  color: white;
  font-family: 'Orbitron', serif;
  font-size: 22px;
  text-align: center;
  width: 100%;
  height: 75px;
  border: none;
}

#space {
  margin-top: 2%;
}

@media screen and (max-width: 530px){
  body {
    margin: 4%;
    font-size: 14px;
  }
  
  #input-email input {
    height: 50px;
  }
  #input-age-verification label {
    margin-top: -17px;
  }

  #submit {
    width: 100%;
    height: 3rem;
  }
  
  h1 {
  font-size: 30px;
  }
  
}
